# Nginx
PATH_SSL_KEY=/etc/letsencrypt/live/your_site/
SITE_HOST=subserver.example
SITE_PORT=443
SERVERS="https://server1.com/sub/ https://server2.com/sub/"
SUB=sub
TLS_MODE=off
PROFILE_TITLE: "My Private VPN"
ANNOUNCE: "Most secure VPN ever"
PROFILE_UPDATE_INTERVAL: "12"
ROUTING_ENABLE: "true"
ROUTING_RULES: "happ://routing/add/[long_base64_string]"
